.apigeeHome {
	ul.nav li.dropdown:hover ul.dropdown-menu { 
		display: block; 
	}
	.nav .dropdown-toggle .caret { 
		display:none;
	} 
	.navbar-default {
	    background-color: #e20074!important;
	    border-color: #E7E7E7;
	}
	.dropdown-menu > li > a:hover {
	    background-color: #e20074;
	}
	.navbar-default .navbar-nav > li > a {
	    color: #F8F8F8;
	}
	.navbar-default .navbar-brand {
	    color: #FFF;
	}
	.navbar-nav > .active{
	    color: #555;
	    background-color: #713535;
	}
	.dropdown-menu {
	    border-color: #e20074;
	}
	.active1{
		background-color:#AA345D;
	}
	.dashboardHome {
		clear:both;
		min-height: 400px;
	}
}

.paginationclass {
	margin: 19px 28px;    
}

.paginationclass span {
    margin-left:15px;
    display:inline-block;
}

.pagination-controle li {
    display: inline-block;
}

.pagination-controle button {
    font-size: 12px;
    margin-top: -26px;
    cursor:pointer;
}

.pagination {
    margin:5px 12px !important;
}

.push {
	clear : both;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}

.footer {
	padding : 0px 0px !important;
	margin : 0px auto;
	background-color: #e20074 !important;
	clear : both;
	height: 3em;
	color: #F8F8F8;
}
