<div data-ng-include="'views/navbar.html'"></div>
<div>
	<div data-ng-include="'views/backupCommon.html'"></div>
</div>

<div data-ng-include="'views/backUpOrgConsoleInfo.html'"></div>
 
 <mymodal class="schedulesModal" title="Scheduled Backups" visible="showBackups">
 	<table class="table table-bordered">
    	<thead>
    		<tr>
    			<td class="info">Organization</td>
    			<td class="info">Periodicty</td>
    			<td class="info">Actions</td>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="backupSchedule in backupSchedules">
    			<td>{{backupSchedule.organization}}</td>
    			<td>
    				<select name="{{backupSchedule.organization}}" ng-model="backupSchedule.periodicity">
		          		<option value="">Select Periodicity</option>
		          		<option value="Weekly">Weekly</option>
		          		<option value="Daily">Daily</option>
		          		<option value="Hourly">Hourly</option>
		        	</select>
    			</td>
    			<td>
    				<div class="row acmPopupAction">
						<div class="col-sm-6 col-md-6 deleteBtn"><button class="btn btn-danger btn-xs" ng-click="deleteScheduleOrg(backupSchedule.id)" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button><img ng-if="backupSchedule.deleteLoader" class="spinner16X16" ng-src="../images/16x16-spinner.gif"/></div>
	    				<div class="col-sm-6 col-md-6 updateBtn"><button class="btn btn-primary btn-xs" ng-click="updateScheduleOrg(backupSchedule.organization,backupSchedule.periodicity)" ><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Update</button><img ng-if="backupSchedule.updateLoader" class="spinner16X16" ng-src="../images/16x16-spinner.gif"/></div>
    				</div>
   				</td>
    		</tr>
    	</tbody>
  	</table>
 </mymodal>
