<div class="row">
	<h4 style="text-align: center">{{pageHeading}}</h4>
	<br>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-5">
		<div class="form-group">
 			<div>
				<label for="proxyName">Select Organization</label>
			</div>
        	<select ng-model="$parent.organization" name="organization" id="organization" ng-change="changeOrg()" ng-options="org for org in orgs">
          		<option value="">Select Organization</option>
        	</select>
        	<input ng-model="$parent.orgText" id="other_organization" name="other_organization" type="text" placeholder="type organization name" ng-show="$parent.showOther" />
		</div>
		<div class="form-group">
			<div class="row acmAction">
				<div class="col-sm-2 col-md-2 backupBtn" ng-if="showBackupBtn"><button class="btn btn-primary" ng-click="backUp('backup')" ><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Backup</button><img ng-if="backupupLoader" class="spinner16X16" ng-src="../images/16x16-spinner.gif"/></div>
				<div class="col-sm-2 col-md-2 cleanupBtn" ng-if="showCleanupBtn" ><button class="btn btn-danger" ng-click="backUp('cleanup')" ><span class="glyphicon glyphicon-download" aria-hidden="true"></span> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cleanup</button><img ng-if="cleanupLoader" class="spinner16X16" ng-src="../images/16x16-spinner.gif"/></div>
			</div>
		</div>
	</div>
	<div class="col-md-4 scheduleBackupContainer" ng-if="showOrgBackupSchedules">
		<div class="form-group">
   			<label for="proxyName">Schedule Organization Backup</label>
   			<p>
	        	<select ng-model="scheduledOrg" name="organization" id="organization" ng-click="changeScheduleOrg()" ng-options="org for org in userDetails.organizations">
	          		<option value="">Select Organization</option>
	        	</select>
	        	<select ng-model="periodicity" name="periodicity" id="periodicity" ng-options="periodicity for periodicity in periodicities">
	          		<option value="">Select Periodicity</option>
	        	</select>
	      	</p>
		</div>
		<div class="form-group">
			<button class="btn btn-warning" ng-click="seeAllSchedules()" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> See All Schedules</button>
			<button class="btn btn-primary" ng-click="saveBackupSchedule(scheduledOrg,periodicity)" ><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Schedule Backup</button>
		</div>
	</div>
</div>
<!--  ROW END -->
<div data-ng-include="'views/backupCommonTable.html'"></div>