<div>

	<script type="text/ng-template" id="group-template.html">
    	<div class="panel {{panelClass || 'panel-default'}}">
      		<div class="panel-heading">
        	<h4 class="panel-title" style="color:#333333">
          	<a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        	</h4>
      		</div>
      		<div class="panel-collapse collapse" uib-collapse="!isOpen">
        		<div class="panel-body" style="text-align: right" ng-transclude></div>
      		</div>
    	</div>
  </script>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="statusModal modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Backup Staus</h3>
        </div>
        <div class="modal-body ">

  			<uib-accordion close-others="true">

    			<uib-accordion-group  heading="Proxies" panel-class="panel-danger" template-url="group-template.html" is-open="true">
		    	<div class="table-responsive">
				  <table class="table table-bordered text-align-left">
				    	<thead>
				    		<tr>
				    			<td class="danger">Proxy</td>
				    			<td class="danger">(Env, Rev)</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="proxy in consoleInfo.proxyInfo">
				    			<td>{{proxy.proxyName}}</td>
				    			<td><span ng-repeat="env in proxy.environments">({{env.environment}}, {{env.revision}}) {{$last ? '' : ', '}}</span></td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>
    			</uib-accordion-group>

    			<uib-accordion-group heading="Resources" panel-class="panel-info" template-url="group-template.html">
		    	<div class="table-responsive">
				  <table class="table table-bordered text-align-left">
				    	<thead>
				    		<tr>
				    			<td class="info">Env</td>
				    			<td class="info">Caches</td>
				    			<td class="info">KV</td>
				    			<td class="info">Target Servers</td>
				    			<td class="info">Virtual Hosts</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="resource in consoleInfo.resourceInfo">
				    			<td>{{resource.envName}}</td>
				    			<td><span ng-repeat="cache in resource.CACHES"> {{cache}} {{$last ? '' : ', '}}</span></td>
				    			<td><span ng-repeat="kv in resource.KV">{{kv}} {{$last ? '' : ', '}}</span> </td>
				    			<td><span ng-repeat="ts in resource.TARGETSERVERS">{{ts}} {{$last ? '' : ', '}}</span></td>
				    			<td><span ng-repeat="vh in resource.VIRTUALHOSTS">{{vh}} {{$last ? '' : ', '}}</span></td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>
    			</uib-accordion-group>	
			
				<uib-accordion-group heading="Apps" panel-class="panel-success" template-url="group-template.html">
		    	<div class="table-responsive">
				  <table class="table table-bordered text-align-left">
				    	<thead>
				    		<tr>
				    			<td class="success">Apps</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="app in consoleInfo.appsInfo">
				    			<td>{{app}}</td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>
				</uib-accordion-group>	

				<uib-accordion-group heading="Products" panel-class="panel-warning" template-url="group-template.html">
		    	<div class="table-responsive">
				  <table class="table table-bordered text-align-left">
				    	<thead>
				    		<tr>
				    			<td class="warning">Products</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="product in consoleInfo.productsInfo">
				    			<td>{{product}}</td>
				    		</tr>
				    		<tr ng-repeat="sproduct in skippedProductsInfo">
				    			<td>{{sproduct}}</td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>
				</uib-accordion-group>	

				<uib-accordion-group heading="Developers" panel-class="panel-danger" template-url="group-template.html">
		    	<div class="table-responsive">
				  <table class="table table-bordered text-align-left">
				    	<thead>
				    		<tr>
				    			<td class="danger">Developers</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="developer in consoleInfo.developersInfo">
				    			<td>{{developer}}</td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>		    	
				</uib-accordion-group>	

  			</uib-accordion>

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close</button>
        </div>
    </script>
</div>
