<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-5">
		<div class="form-group">
   			<label for="proxyName">Backup {{subsystem}}</label>
   			<p>
	        	<select ng-model="$parent.organization" name="organization" id="organization" ng-change="changeOrg()" ng-options="org for org in orgs">
	          		<option value="">Select Organization</option>
	        	</select>
	        	<input ng-model="$parent.orgText" id="other_organization" name="other_organization" type="text" placeholder="type organization name" ng-show="$parent.showOther" />
	      	</p>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" ng-click="backUp('backup')" ><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Backup</button>
			<button class="btn btn-danger" ng-click="backUp('cleanup')" ><span class="glyphicon glyphicon-download" aria-hidden="true"></span> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cleanup</button>
		</div>
	</div>
	<div class="col-md-4 scheduleBackupContainer" ng-if="showOrgBackupSchedules">
		<div class="form-group">
   			<label for="proxyName">Schedule Organization Backup</label>
   			<p>
	        	<select ng-model="scheduledOrg" name="organization" id="organization" ng-click="changeScheduleOrg()" ng-options="org for org in userDetails.organizations">
	          		<option value="">Select Organization</option>
	        	</select>
	        	<select ng-model="periodicity" name="periodicity" id="periodicity" ng-options="periodicity for periodicity in periodicities">
	          		<option value="">Select Periodicity</option>
	        	</select>
	      	</p>
		</div>
		<div class="form-group">
			<button class="btn btn-warning" ng-click="seeAllSchedules()" ><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> See All Schedules</button>
			<button class="btn btn-primary" ng-click="saveBackupSchedule(scheduledOrg,periodicity)" ><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Schedule Backup</button>
		</div>
	</div>
</div>
<!--  ROW END -->
	
<div class="backupOrgContainer">
	<div class="row">
		<!--  column1 -->
		<div class="col-md-2"></div>
		<div class="col-md-8" ng-if="orgHis">
			<table class="table table-hover">
				<tr>
					<th>Backedup On</th>
					<th>Organization</th>
					<th>Time Taken(sec)</th>
					<th>Status</th>
					<th>Console</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="item in orgHis | pagination: curPage * pageSize | limitTo: pageSize">
					<td>
						<span  ng-if="item.cts">{{item.cts | date:'medium'}}</span>
						<img ng-if="!item.cts" ng-src="../images/16x16-spinner.gif"/>
					</td>
					<td>{{item.organization}}</td>
					<td>
					
						<span  ng-if="item.backUpTimeTaken">{{item.backUpTimeTaken}}</span>
						<img ng-if="!item.backUpTimeTaken" ng-src="../images/16x16-spinner.gif"/>
					</td>
					<td>{{item.status}}</td>
					<td>
						<button class="btn btn-warning btn-xs" ng-click="viewDetailedStatus(item)" ng-disabled="disableButton(item.disableButtons)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Console</button>
					</td>
					<td>
						<div class="row acmAction">
							<div class="col-sm-6 col-md-6 restoreBtn"><button class="btn btn-success btn-xs" ng-click="confirmAction(item,'restore')" ng-disabled="disableButton(item.disableButtons)"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Restore</button><img ng-if="item.restoreLoader" class="spinner16X16" ng-src="../images/16x16-spinner.gif"/></div>
							<div class="col-sm-6 col-md-6 deleteBtn" ><button class="btn btn-danger btn-xs" ng-click="confirmAction(item,'delete')" ng-disabled="disableButton(item.disableButtons)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button><img ng-if="item.deleteLoader" class="spinner16X16" ng-src="../images/16x16-spinner.gif"/></div>
						</div>
					</td>
				</tr>    
			</table>
			<ul class="pagination-controle pagination">
				<li>
					<button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> PREV</button>
				</li>
				<li>
					<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
				</li>
				<li>
					<button type="button" class="btn btn-primary" ng-disabled="curPage >= orgHis.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span> </button>
				</li>
			</ul>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>