<div data-ng-include="'views/navbar.html'"></div>
<div>
	 <!--  ROW BEGIN -->
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-5">
			<div class="form-group">
    			<label for="proxyName">Backup Organization</label>
    			<p>
		        	<select ng-model="organization" name="organization" id="organization" ng-change="changeOrg()" ng-options="org for org in orgs">
		          		<option value="">Select Organization</option>
		        	</select>
		        	<input ng-model="orgText" id="other_organization" name="other_organization" type="text" placeholder="type organization name" ng-show="showOther" />
		      	</p>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="backUpOrg()" >Backup</button>
			</div>
		</div>
		<div class="col-md-4 scheduleBackupContainer">
			<div class="form-group">
    			<label for="proxyName">Schedule Organization Backup</label>
    			<p>
		        	<select ng-model="scheduledOrg" name="organization" id="organization" ng-click="changeScheduleOrg()" ng-options="org for org in userDetails.organizations">
		          		<option value="">Select Organization</option>
		        	</select>
		        	<select ng-model="periodicity" name="periodicity" id="periodicity" ng-options="periodicity for periodicity in periodicities">
		          		<option value="">Select Periodicity</option>
		        	</select>
		      	</p>
			</div>
			<div class="form-group">
				<button class="btn btn-warning" ng-click="seeAllSchedules()" >See All Schedules</button>
				<button class="btn btn-primary" ng-click="saveBackupSchedule()" >Schedule Backup</button>
			</div>
		</div>
	</div>
	<!--  ROW END -->
		
	<div class="backupOrgContainer">
		<div class="row">
			<!--  column1 -->
			<div class="col-md-2"></div>
			<div class="col-md-8" ng-if="orgHis">
				<table class="table table-hover">
					<tr>
						<th>Backedup On</th>
						<th>Organization</th>
						<th>Time Taken(sec)</th>
						<th>Status</th>
						<th>Console</th>
						<th>Action</th>
					</tr>
					<tr ng-repeat="item in orgHis | pagination: curPage * pageSize | limitTo: pageSize">
						<td>{{item.cts | date:'medium'}}</td>
						<td>{{item.organization}}</td>
						<td>{{item.backUpTimeTaken}}</td>
						<td>{{item.status}}</td>
						<td>
							<button class="btn btn-warning btn-xs" ng-click="viewDetailedStatus(item)" ng-disabled="disableButton(item.disableButtons)">Console</button>
						</td>
						<td>
							<div class="row acmAction">
								<div class="col-sm-6 col-md-6 restoreBtn"><button class="btn btn-success btn-xs" ng-click="confirmAction(item,'restore')" ng-disabled="disableButton(item.disableButtons)">Restore</button><img ng-if="item.restoreLoader" class="spinner16X16" ng-src="../images/16x16-spinner.gif"/></div>
								<div class="col-sm-6 col-md-6 deleteBtn" ><button class="btn btn-danger btn-xs" ng-click="confirmAction(item,'delete')" ng-disabled="disableButton(item.disableButtons)">Delete</button><img ng-if="item.deleteLoader" class="spinner16X16" ng-src="../images/16x16-spinner.gif"/></div>
							</div>
						</td>
					</tr>    
				</table>
				<ul class="pagination-controle pagination">
					<li>
						<button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1"> &lt; PREV</button>
					</li>
					<li>
						<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
					</li>
					<li>
						<button type="button" class="btn btn-primary" ng-disabled="curPage >= orgHis.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT &gt;</button>
					</li>
				</ul>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>

<div ng-controller="BackUpOrgCtrl">

	<script type="text/ng-template" id="group-template.html">
    	<div class="panel {{panelClass || 'panel-default'}}">
      		<div class="panel-heading">
        	<h4 class="panel-title" style="color:#333333">
          	<a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        	</h4>
      		</div>
      		<div class="panel-collapse collapse" uib-collapse="!isOpen">
        		<div class="panel-body" style="text-align: right" ng-transclude></div>
      		</div>
    	</div>
  </script>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="statusModal modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Backup Staus</h3>
        </div>
        <div class="modal-body ">

  			<uib-accordion close-others="true">

    			<uib-accordion-group  heading="Proxies" panel-class="panel-danger" template-url="group-template.html" is-open="true">
		    	<div class="table-responsive">
				  <table class="table table-bordered text-align-left">
				    	<thead>
				    		<tr>
				    			<td class="danger">Proxy</td>
				    			<td class="danger">(Env, Rev)</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="proxy in consoleInfo.proxyInfo">
				    			<td>{{proxy.proxyName}}</td>
				    			<td><span ng-repeat="env in proxy.environments">({{env.environment}}, {{env.revision}}) {{$last ? '' : ', '}}</span></td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>
    			</uib-accordion-group>

    			<uib-accordion-group heading="Resources" panel-class="panel-info" template-url="group-template.html">
		    	<div class="table-responsive">
				  <table class="table table-bordered text-align-left">
				    	<thead>
				    		<tr>
				    			<td class="info">Env</td>
				    			<td class="info">Caches</td>
				    			<td class="info">KV</td>
				    			<td class="info">Target Servers</td>
				    			<td class="info">Virtual Hosts</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="resource in consoleInfo.resourceInfo">
				    			<td>{{resource.envName}}</td>
				    			<td><span ng-repeat="cache in resource.CACHES"> {{cache}} {{$last ? '' : ', '}}</span></td>
				    			<td><span ng-repeat="kv in resource.KV">{{kv}} {{$last ? '' : ', '}}</span> </td>
				    			<td><span ng-repeat="ts in resource.TARGETSERVERS">{{ts}} {{$last ? '' : ', '}}</span></td>
				    			<td><span ng-repeat="vh in resource.VIRTUALHOSTS">{{vh}} {{$last ? '' : ', '}}</span></td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>
    			</uib-accordion-group>	
			
				<uib-accordion-group heading="Apps" panel-class="panel-success" template-url="group-template.html">
		    	<div class="table-responsive">
				  <table class="table table-bordered text-align-left">
				    	<thead>
				    		<tr>
				    			<td class="success">Apps</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="app in consoleInfo.appsInfo">
				    			<td>{{app}}</td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>
				</uib-accordion-group>	

				<uib-accordion-group heading="Products" panel-class="panel-warning" template-url="group-template.html">
		    	<div class="table-responsive">
				  <table class="table table-bordered text-align-left">
				    	<thead>
				    		<tr>
				    			<td class="warning">Products</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="product in consoleInfo.productsInfo">
				    			<td>{{product}}</td>
				    		</tr>
				    		<tr ng-repeat="sproduct in skippedProductsInfo">
				    			<td>{{sproduct}}</td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>
				</uib-accordion-group>	

				<uib-accordion-group heading="Developers" panel-class="panel-danger" template-url="group-template.html">
		    	<div class="table-responsive">
				  <table class="table table-bordered text-align-left">
				    	<thead>
				    		<tr>
				    			<td class="danger">Developers</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="developer in consoleInfo.developersInfo">
				    			<td>{{developer}}</td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>		    	
				</uib-accordion-group>	

  			</uib-accordion>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
        </div>
    </script>
</div>
 
 <mymodal class="schedulesModal" title="Scheduled Backups" visible="showBackups">
 	<table class="table table-bordered">
    	<thead>
    		<tr>
    			<td class="info">Organization</td>
    			<td class="info">Periodicty</td>
    			<td class="info">Actions</td>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="backupSchedule in backupSchedules">
    			<td>{{backupSchedule.organization}}</td>
    			<td>
    				<select name="{{backupSchedule.organization}}" ng-model="backupSchedule.periodicity">
		          		<option value="">Select Periodicity</option>
		          		<option value="Weekly">Weekly</option>
		          		<option value="Daily">Daily</option>
		          		<option value="Hourly">Hourly</option>
		        	</select>
    			</td>
    			<td>
    				<div class="row acmPopupAction">
						<div class="col-sm-6 col-md-6 deleteBtn"><button class="btn btn-danger btn-xs" ng-click="deleteScheduleOrg(backupSchedule.id)" >Delete</button><img ng-if="backupSchedule.deleteLoader" class="spinner16X16" ng-src="../images/16x16-spinner.gif"/></div>
	    				<div class="col-sm-6 col-md-6 updateBtn"><button class="btn btn-warning btn-xs" ng-click="updateScheduleOrg(backupSchedule.organization,backupSchedule.periodicity)" >Update</button><img ng-if="backupSchedule.updateLoader" class="spinner16X16" ng-src="../images/16x16-spinner.gif"/></div>
    				</div>
   				</td>
    		</tr>
    	</tbody>
  	</table>
 </mymodal>
