<div data-ng-include="'views/navbar.html'"></div>
<div>
	<div data-ng-include="'views/backupCommon.html'"></div>			
</div>
<mymodal class="subsystemModal" title="Backup Status" visible="showModal">
   <div class="statusContainer">
		<div class="row">
			<div class="col-sm-12 col-md-12" >
		    	<h4 class="info">Products</h4>
		    	<div class="table-responsive">
				 <table class="table table-bordered text-align-left">
				    	<thead>
				    		<tr>
				    			<td class="warning">Products</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="product in productsInfo">
				    			<td>{{product}}</td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>
		    </div>
		</div>
	</div>
 </mymodal>