<div data-ng-include="'views/navbar.html'"></div>
<div>
	<div data-ng-include="'views/backupCommon.html'"></div>		
</div>
<mymodal class="" title="Backup Status" visible="showModal">
	<h4 class="info">Proxies</h4>
   	<div class="table-responsive">
	  <table class="table table-bordered">
	    	<thead>
	    		<tr>
	    			<td class="danger">Proxy</td>
	    			<td class="danger">Cleaned Revisions</td>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr ng-repeat="proxy in proxyInfo">
	    			<td>{{proxy.proxyName}}</td>
	    			<td><span ng-repeat="version in proxy.versions"> {{version}} {{$last ? '' : ', '}}</span></td>
	    		</tr>
	    	</tbody>
	  </table>
	</div>
 </mymodal>
 
 <div>

    <script type="text/ng-template" id="cleanupProxiesModal.html">
        <div class="statusModal modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Cleanup Proxies</h3>
        </div>
        <div class="modal-body ">
			<div class="row">
				<uib-alert class="col-sm-offset-1 col-md-10" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
			</div>
			<div class="row">
			<div class="col-sm-12 col-md-12" >
		    	<h4 class="info">Proxies</h4>
		    	<div class="table-responsive">
				  <table class="table table-bordered">
				    	<thead>
				    		<tr>
								<td class="danger"><input type="checkbox" ng-model="data.selectedAll" value="all" ng-change="checkAll()"> </td>
				    			<td class="danger">Proxy</td>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr ng-repeat="proxy in data.proxies">
								<td><input type="checkbox" name="data.selectedProxies[]" value="{{proxy.name}}" ng-model="proxy.selected"></td>
				    			<td>{{proxy.name}}</td>
				    		</tr>
				    	</tbody>
				  </table>
				</div>
		    </div>
		</div>

        </div>
        <div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="ok()"><span class="glyphicon glyphicon-ok" aria-hidden="true"> Cleanup</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
        </div>
    </script>
</div>
 