<div data-ng-include="'views/navbar.html'"></div>
<div>
	<div data-ng-include="'views/backupCommon.html'"></div>		
</div>
<mymodal class="" title="Backup Status" visible="showModal">
	<h4 class="info">Proxies</h4>
   	<div class="table-responsive">
	  <table class="table table-bordered">
	    	<thead>
	    		<tr>
	    			<td class="danger">Proxy</td>
	    			<td class="danger">Deployment Status</td>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr ng-repeat="proxy in proxyInfo">
	    			<td>{{proxy.proxyName}}</td>
	    			<td>NO</span></td>
	    		</tr>
	    	</tbody>
	  </table>
	</div>
 </mymodal>