<div data-ng-include="'views/navbar.html'"></div>
<div class="dedrogramHeader">
	<h3>Dendrogram for {{userDetails.displayName}} </h3>
</div>
<div id="dashboardBody"></div>
<modal2 class="dashboardStatusModal modal-dash" title="Go to Release Management" visible="showModal">
 	<div class="statusContainer">
		<div class="row">
			<div class="col-md-1" ></div>
			<div class="col-md-6" >
		    	<button type="button" class="btn btn-primary" ng-click="releaseManagement()">Go to Release Management</button>
			</div>
			<div class="col-md-5" >
		    	<button type="button" class="btn btn-success" ng-click="stayHere()">Stay here</button>
			</div>
		</div>
	</div>
</modal2>

