<div data-ng-include="'views/navbar.html'"></div>
<div>
<form>
	 <!--  ROW BEGIN -->
	<div class="row">
		<!--  column1 -->
		<div class="col-md-4">
			

		</div>
		<!--  column1 END -->
		<!--  column2 -->
		<div class="col-md-4">
			
			
			<div class="form-group">
	    			<p>
			        <select ng-model="organization" name="organization" id="organization" ng-change="changeOrg()" ng-options="org for org in orgs">
			          <option value="">Select Organization</option>
			        </select>
			        <input ng-model="orgText" id="other_organization" name="other_organization" type="text" placeholder="type organization name" ng-show="showOther" />
			      </p>
	    			<button class="btn btn-default" ng-click="getAPIProxies()">Fetch Proxies</button>
	    		</div>
			
			<div class="form-group">	
	    			<select ng-model="apiProxyName" ng-change="getUndeployments()" class="form-control" id="apiProxyName" ng-options="proxy for proxy in proxiesList">
	    				<option value="">Select API</option>
	    			</select>
	    			
	    			<select ng-model="environment"  class="form-control" id="environment" ng-change="changeEnv()" ng-options="env for env in envList">
	    				<option value="">Select Environment</option>
	    			</select>
	    			
	    			<select ng-model="revision"  class="form-control" id="revision"  ng-options="rev for rev in revisionList">
	    				<option value="">Select Revision</option>
	    			</select>
  			</div>
				<button class="btn btn-default" ng-click="deployProxy()">Deploy Proxy</button>
		
		</div>
		<!--  column2 END -->

		<!--  column3 -->
		<div class="col-md-4"></div>
		<!--  column3 END-->
	</div>
	<!--  ROW END -->
		</form>
</div>
<div data-ng-include="'views/footer.html'"></div>