<div data-ng-include="'views/navbar.html'"></div>
<div>
Export API Proxy
<form>
	 <!--  ROW BEGIN -->
	<div class="row">
		<!--  column1 -->
		<div class="col-md-4">
			

		</div>
		<!--  column1 END -->
		<!--  column2 -->
		<div class="col-md-4">
			
				<div class="form-group">
	    			<p>
			        <select ng-model="organization" name="organization" id="organization" ng-change="changeOrg()" ng-options="org for org in orgs">
			          <option value="">Select Organization</option>
			        </select>
			        <input ng-model="orgText" id="other_organization" name="other_organization" type="text" placeholder="type organization name" ng-show="showOther" />
			      </p>
	    			<input type="text" ng-model="apiProxyName" class="form-control" id="apiProxyName" placeholder="Enter Proxy Name">
	    			<input type="text" ng-model="revision" class="form-control" id="revision" placeholder="Enter Revision">
  				</div>
				<button class="btn btn-default" ng-click="exportAPIProxy()">Export Proxy</button>
		
		</div>
		<!--  column2 END -->

		<!--  column3 -->
		<div class="col-md-4" ng-if="proxyData.name">
			<table>
			<tr>
			<td>Proxy Name</td> </td>{{proxyData.name}}</td>
			
			</tr>
			<tr>
			<td> Revisions available</td><td>{{proxyData.revision.length}}</td>
			</tr>
			</table>
				
		
		</div>
		<!--  column3 END-->
	</div>
	<!--  ROW END -->
		</form>
</div>
<div data-ng-include="'views/footer.html'"></div>