<div data-ng-include="'views/navbar.html'"></div>
<div>
Get API Proxy
<form>
	 <!--  ROW BEGIN -->
	<div class="row">
		<!--  column1 -->
		<div class="col-md-4">
			

		</div>
		<!--  column1 END -->
		<!--  column2 -->
		<div class="col-md-4">
			
				<div class="form-group">
	    			<input type="text" ng-model="organization" class="form-control" id="organization" placeholder="Enter Organization">
	    			<button class="btn btn-default" ng-click="getAPIProxies()">Fetch Proxies</button>
	    		</div>
	    		<div class="form-group">	
	    			<select ng-model="apiProxyName" ng-change="getAPIProxyDetails()" class="form-control" id="apiProxyName" ng-options="proxy for proxy in proxiesList">
	    				<option value="">Select API</option>
	    			</select>
  				</div>
				<button class="btn btn-default" ng-click="getAPIProxy()">GET Proxy</button>
		
		</div>
		<!--  column2 END -->

		<!--  column3 -->
		<div class="col-md-4" ng-if="proxyData.name">
			<table>
			<tr>
			<td>Proxy Name</td> </td>{{proxyData.name}}</td>
			
			</tr>
			<tr>
			<td> Revisions count available</td><td>{{proxyData.revision.length}}</td>
			</tr>
			</table>
				
		
		</div>
		<!--  column3 END-->
	</div>
	<!--  ROW END -->
		</form>
</div>
<div data-ng-include="'views/footer.html'"></div>