<div data-ng-include="'views/navbar.html'"></div>
<div class="installationGuide angularJS">
	<h2 class="col-sm-offset-2 col-md-8">
	<a aria-hidden="true" href="#/installationGuide#angularjs" class="anchor"
				id="angularjs"><svg width="16"
					viewBox="0 0 16 16" version="1.1" role="img" height="16"
					class="octicon octicon-link" aria-hidden="true">
					<path
						d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z" /></svg></a>
		AngularJS Installation.
	</h2>
	<article itemprop="text" class="col-sm-offset-3 col-md-6 markdown-body entry-content">
		<h3>
			<a aria-hidden="true" href="#/installationGuide#angularjs_installation" class="anchor"
				id="angularjs_installation"><svg width="16"
					viewBox="0 0 16 16" version="1.1" role="img" height="16"
					class="octicon octicon-link" aria-hidden="true">
					<path
						d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z" /></svg></a> Installation
		</h3>
		<ol>
			<li>Clone this project or Download that ZIP file from the Github <a href="https://github.com/rammohang/ani-theme.git">repository</a></li>
			<li>Make sure you have <a href="http://bower.io/">bower</a>, <a
				href="https://www.npmjs.com/package/gulp">gulp</a> and <a
				href="https://www.npmjs.org/">npm</a> installed globally
			</li>
			<li>On the command prompt run the following commands</li>
			<li>cd <code>project-directory</code></li>
			<li><code>bower install</code></li>
			<li><code>npm install</code></li>
		</ol>
		
		<h3>
			<a aria-hidden="true" href="#/installationGuide#angularjs_run" class="anchor"
				id="angularjs_run"><svg width="16"
					viewBox="0 0 16 16" version="1.1" role="img" height="16"
					class="octicon octicon-link" aria-hidden="true">
					<path
						d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z" /></svg></a> Run AngularJS
		</h3>
		<ol>
			<li>cd <code>project-directory</code></li>
			<li><code>gulp serve</code> - For development mode</li>
			<li><code>gulp build</code> - concat, minify and generate the
				files for deployment</li>
			<li><code>gulp serve</code> runs <a href="http://localhost:9000">localhost</a> on port 9000, and we can edit gulpfile.js to use different port</li>
		</ol>
	</article>
</div>

<div class="installationGuide jerseyWebservices">
	<h2 class="col-sm-offset-2 col-md-8">
	<a aria-hidden="true" href="#/installationGuide#webservices" class="anchor"
				id="webservices"><svg width="16"
					viewBox="0 0 16 16" version="1.1" role="img" height="16"
					class="octicon octicon-link" aria-hidden="true">
					<path
						d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z" /></svg></a>
		Webservices installation.
	</h2>
	<article itemprop="text" class="col-sm-offset-3 col-md-6 markdown-body entry-content">
		<h3>
			<a aria-hidden="true" href="#/installationGuide#webservices_installation" class="anchor"
				id="webservices_installation"><svg width="16"
					viewBox="0 0 16 16" version="1.1" role="img" height="16"
					class="octicon octicon-link" aria-hidden="true">
					<path
						d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z" /></svg></a> Installation
		</h3>
		<ol>
			<li>Clone this project or Download that ZIP file from the Github <a href="https://github.com/raviteja548/apigee-rest.git">repository</a></li>
			<li>Make sure you have <a href="http://www.eclipse.org/downloads/">eclipse IDE</a>, <a
				href="http://maven.apache.org/">maven</a> and <a
				href="http://tomcat.apache.org/">tomcat server</a> installed
			</li>
			<li>Integrate tomcat server with eclipse to run the project on tomcat.</li>
		</ol>
	
		<h3>
			<a aria-hidden="true" href="#/installationGuide#webservices_run" class="anchor"
				id="webservices_run"><svg width="16"
					viewBox="0 0 16 16" version="1.1" role="img" height="16"
					class="octicon octicon-link" aria-hidden="true">
					<path
						d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z" /></svg></a> Run backend services
		</h3>
		<ol>
			<li>On the command prompt run the following commands</li>
			<li>cd <code>project-directory</code></li>
			<li><code>mvn -U clean install</code> for development use</li>
			<li>Update the eclipse project with maven plugin</li>
			<li><code>mvn package</code> generates war file for production deployment</li>
			<li>tomcat runs <a href="http://localhost:8080">localhost</a> on 8080 port by default, edit <code>server.xml</code> to use different port</li>
		</ol>
	
	</article>
</div>

<div class="installationGuide mongoDB">
	<h2 class="col-sm-offset-2 col-md-8">
	<a aria-hidden="true" href="#/installationGuide#mongodb" class="anchor"
				id="mongodb"><svg width="16"
					viewBox="0 0 16 16" version="1.1" role="img" height="16"
					class="octicon octicon-link" aria-hidden="true">
					<path
						d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z" /></svg></a>
		MongoDB Installation.
	</h2>
	<article itemprop="text" class="col-sm-offset-3 col-md-6 markdown-body entry-content">
		<h3>
			<a aria-hidden="true" href="#/installationGuide#mongodb_installation" class="anchor"
				id="mongodb_installation"><svg width="16"
					viewBox="0 0 16 16" version="1.1" role="img" height="16"
					class="octicon octicon-link" aria-hidden="true">
					<path
						d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z" /></svg></a> Installation
		</h3>
		<ol>
			<li>Download <a href="https://www.mongodb.com/">mongoDB</a> installer and install the software</li>
			<li>set mongodb bin folder in path user/system environment variable</li>
			<li>create folder structure C:\data\db</li>
		</ol>
		
		<h3>
			<a aria-hidden="true" href="#/installationGuide#mongodb_run" class="anchor"
				id="mongodb_run"><svg width="16"
					viewBox="0 0 16 16" version="1.1" role="img" height="16"
					class="octicon octicon-link" aria-hidden="true">
					<path
						d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z" /></svg></a> Run MongoDB
		</h3>
		<ol>
			<li>On the command prompt run the following commands</li>
			<li>cd <code>C:\data\db</code></li>
			<li><code>del mongod.lock</code></li>
			<li><code>mongod --dbpath C:/data/db</code></li>
			<li>mongoDB runs on 27017 port by default</li>
			<li>execute <code>mongo</code> on command prompt to start mongo instance</li>
		</ol>
	
	</article>
</div>