   <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand apigee" href="#">APIGEE DevOps</a>
          </div>
</div><!--/.container-fluid -->
      </nav>
    </br>
	</br>
	</br>
     <div>
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
<h2>Sign in with your Apigee account</h2>
</div>
<div class="col-md-4">
</div>
</div>
</br>
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body">
			<form ng-submit="submit()">
				  <div class="form-group">
					<label for="exampleInputEmail1">Email address or Username</label>
					<input type="text" ng-model="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				  </div>
				  <div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				  </div>
				<div class="row">
				<div class="col-md-4">
				 <button type="submit" class="btn btn-primary">Sign in</button>
				 </div>
				 <div class="col-md-3"></div>
				  <div class="col-md-5">
				  <a href="#">Forgot password?</a>
				  </div>
				 </div>
			</form>
		</div>
	</div>
</div> 
<!-- /container -->
<div style="clear:both;"></div>
<div data-ng-include="'views/footer.html'"></div>
