<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">APIGEE DevOps</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active1 dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Org  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/backUpOrg">BackUp</a></li>
                  <li><a href="#/cleanOrg">Clean</a></li>
                  <li><a href="#/restoreOrg">Restore</a></li>
                 
                </ul>
			  </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API Proxies <span class="caret"></span></a>
                <ul class="dropdown-menu">
                   <li><a href="#">BackUp</a></li>
                  <li><a href="#">Clean</a></li>
                  <li><a href="#">Restore</a></li>
                   <li><a href="#/deleteProxy">Delete Proxy</a></li>
                  <li><a href="#/undeployProxy">Undeploy Proxy</a></li>
                  <li><a href="#/deployProxy">Deploy Proxy</a></li>
                  <li><a href="#/createProxy">Create Proxy</a></li>
                  <li><a href="#/getProxy">Get Proxy</a></li>
                 <li><a href="#/exportProxy">Export Proxy</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Resources <span class="caret"></span></a>
                <ul class="dropdown-menu">
                   <li><a href="#">BackUp</a></li>
                  <li><a href="#">Clean</a></li>
                  <li><a href="#">Restore</a></li>
                 
                </ul>
              </li>
			  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Apps <span class="caret"></span></a>
                <ul class="dropdown-menu">
                   <li><a href="#">BackUp</a></li>
                  <li><a href="#">Clean</a></li>
                  <li><a href="#">Restore</a></li>
                 
                </ul>
              </li>			 
			 <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> API Products <span class="caret"></span></a>
                <ul class="dropdown-menu">
                   <li><a href="#">BackUp</a></li>
                  <li><a href="#">Clean</a></li>
                  <li><a href="#">Restore</a></li>
                 
                </ul>
              </li>	
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">APP Developers <span class="caret"></span></a>
                <ul class="dropdown-menu">
                   <li><a href="#">BackUp</a></li>
                  <li><a href="#">Clean</a></li>
                  <li><a href="#">Restore</a></li>
                 
                </ul>
              </li>
           		
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active1"><a href="./">Welcome Darshan! <span class="sr-only">(current)</span></a></li>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>