<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h3 class="apigee"><a href="#"></a>T-mobile Apigee Devops</h3>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
           	  <li class="dropdown acmmenu dashboard">
				<a href="#/dashboard" uib-tooltip="Dashboard For APIGEE Deployments" tooltip-placement="bottom" tooltip-trigger="mouseenter" class="dropdown-toggle green-tooltip bottom-tooltip"
				 data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboard</a>
				 <!-- <ul class="dropdown-menu">
                  <li class="dropdown acmmenu releaseManagement">
					<a href="#"  uib-tooltip="Manages organization backups and restore" tooltip-placement="bottom" tooltip-trigger="mouseenter" class="dropdown-toggle green-tooltip bottom-tooltip"
					 data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Go to Release Management</a>
				  </li>
                </ul> -->
			  </li>
              <li class="dropdown acmmenu organization">
				<a href="#/backUpOrg" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organization </a>
                <ul class="dropdown-menu">
                  <li><a href="#/backUpOrg" uib-tooltip="Take backups of selected organizations" tooltip-placement="right" tooltip-trigger="mouseenter" class="green-tooltip right-tooltip">BackUp Organization</a></li>
                </ul>
			  </li>
              <li class="dropdown acmmenu apiproxies">
                <a href="#/backupProxy" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API Proxies</a>
                <ul class="dropdown-menu">
                   <li><a href="#/backupProxy" uib-tooltip="Take backups of Proxies for selected organizations" tooltip-placement="right" tooltip-trigger="mouseenter" class="green-tooltip right-tooltip">BackUp Proxies</a></li>
                   <li><a href="#/cleanRevisions" uib-tooltip="Deletes all the undeployed proxies of selected organization" tooltip-placement="right" tooltip-trigger="mouseenter" class="green-tooltip right-tooltip">CleanUp Revisions</a></li>
                </ul>
              </li>
              <li class="dropdown acmmenu publish">
                <a href="#/backUpProducts" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Publish</a>
                <ul class="dropdown-menu">
                	<li><a href="#/backUpProducts" uib-tooltip="Take backups of Products for selected organizations" tooltip-placement="right" tooltip-trigger="mouseenter" class="green-tooltip right-tooltip">Products</a></li>
                	<li><a href="#/backUpDevelopers" uib-tooltip="Take backups of Developers for selected organizations" tooltip-placement="right" tooltip-trigger="mouseenter" class="green-tooltip right-tooltip">Developers</a></li>
                	<li><a href="#/backUpApp" uib-tooltip="Take backups of Apps for selected organizations" tooltip-placement="right" tooltip-trigger="mouseenter" class="green-tooltip right-tooltip">Apps</a></li>
                	<li><a href="#/backUpResource" uib-tooltip="Take backups of Resources for selected organizations" tooltip-placement="right" tooltip-trigger="mouseenter" class="green-tooltip right-tooltip">Resources</a></li>
                </ul>
              </li>
              <li class="dropdown acmmenu monetize">
                <a href="#/monetizeApis" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monetize APIs</a>
              </li>
              <li class="dropdown acmmenu documentation">
                <a href="#/documentation" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation</a>
              </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right releaseManagementNavbar">
              <li class="dropdown acmmenu releaseManagement">
              	<a href="#/releaseMgmt" class="dropdown-toggle" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> API Management <span class="caret"></span></a>
                <ul class="dropdown-menu">
                   <li><a href="#/releaseMgmt" uib-tooltip="Manages organization backups and restore" tooltip-placement="left" tooltip-trigger="mouseenter" class="green-tooltip left-tooltip">Release Management</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown active1">
                <a href="./">{{userDetails.displayName}}!<span class="sr-only">(current)</span></a>
                <ul class="dropdown-menu">
                   <li><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>