<div data-ng-include="'views/navbar.html'"></div>
<div class="row">
	<h4 style="text-align: center">{{pageHeading}}</h4>
	<br>
	<br>
</div>

<div data-ng-include="'views/backUpOrgConsoleInfo.html'"></div>
<div data-ng-include="'views/backupCommonTable.html'"></div>

<div>
    <script type="text/ng-template" id="restoreModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Restore to New Organization</h3>
        </div>
        <div class="modal-body">
			<div class="form-group">
    			<p>
		        	<select ng-model="formData.organization" name="organization" id="organization" ng-change="changeOrg($event)" ng-options="org for org in formData.orgs">
		          		<option value="">Select Organization</option>
		        	</select>
		        	<input ng-model="formData.orgText" id="other_organization" name="other_organization" type="text" placeholder="Enter Organization Name" ng-show="formData.showOther" />
		      		<input ng-model="formData.newEnv" id="newEnv" name="new_env" type="text" placeholder="Enter New Environment" />
		      	</p>
			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()"><span class="glyphicon glyphicon-ok" aria-hidden="true"> Restore</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Cancel</button>
        </div>
    </script>
</div>