<div data-ng-include="'views/navbar.html'"></div>
<div>
<form>
	 <!--  ROW BEGIN -->
	<div class="row">
		<!--  column1 -->
		<div class="col-md-4">
			

		</div>
		<!--  column1 END -->
		<!--  column2 -->
		<div class="col-md-4">
			
				<div class="form-group">
	    			<label for="proxyName">Restore APIProxies</label>
	    			<p>
			        <select ng-model="organization" name="organization" id="organization" ng-change="changeOrg()" ng-options="org for org in orgs">
			          <option value="">Select Organization</option>
			        </select>
			        <input ng-model="orgText" id="other_organization" name="other_organization" type="text" placeholder="type organization name" ng-show="showOther" />
			      </p>
  				</div>
  				<div class="form-group">
					<button class="btn btn-default" ng-click="fetchOrgHistory()">Fetch History</button>
					<div class="throbber-loader" ng-show="showLoader=='Y'">
  Loading…
</div>
				</div>
		
		</div>
		<!--  column2 END -->

		<!--  column3 -->
		<div class="col-md-4"></div>
		<!--  column3 END-->
	</div>
	<!--  ROW END -->
		</form>
		
		<div class="row">
		<!--  column1 -->
		<div class="col-md-4">
		</div>
		
		<div class="col-md-4" ng-if="orgHis">
		
		
		<table class="table table-hover">
		<tr>
		<th>Uploaded On</th><th>Organization</th><th>#</th>
		</tr>
        <tr ng-repeat="item in orgHis | pagination: curPage * pageSize | limitTo: pageSize">
        <td>{{item.uploadDate.$date}}</td><td>{{item.filename}}</td><td> <button class="btn btn-default" ng-click="restoreOrg(item._id.$oid,item.filename)">Restore</button></td>
        </tr>    
           
		</table>
		
		
			
			        <ul class="pagination-controle pagination">
       <li>
        <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
       ng-click="curPage=curPage-1"> &lt; PREV</button>
       </li>
       <li>
       <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
       </li>
       <li>
       <button type="button" class="btn btn-primary"
       ng-disabled="curPage >= orgHis.length/pageSize - 1"
       ng-click="curPage = curPage+1">NEXT &gt;</button>
       </li>
      </ul>
		
		</div>
		
		<div class="col-md-4">
		</div>
		
		</div>
		
		
</div>
<div data-ng-include="'views/footer.html'"></div>