<div data-ng-include="'views/noLoginNavbar.html'"></div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div id="container"><div class="v1alert-message warning inline"></div>
			<div class="content" >
			    <div class="sso-container">
			        <div class="page-header">
			            <h3>Sign up with T-Mobile Apigee Account</h3>
			        </div>
			        <div class="well sso" id="signup_container">
			            <form autocomplete="off">
			                <div class="column">
			                    <div class="input_wrapper">
			                        <div class="input_box">
			                            <label for="fullName">Full Name*</label>
			                            <input id="fullName" name="fullName" class="input-xtralarge" type="text" placeholder="" validate="false">
			                        </div>
			                    </div>
			                </div>
			
			                <div class="column">
			                    <div class="input_wrapper">
			                        <div class="input_box">
			                            <label for="email">Email address*</label>
			                            <input id="email" name="email" class="input-xtralarge js_email" type="text">
			                        </div>
			                    </div>
			                </div>
			
			                <div class="column">
			                    <div class="input_wrapper">
			                        <div class="input_box">
			                            <label for="userName">Username*</label>
			                            <input id="userName" name="userName" class="input-xtralarge js_name margin_bottom_0" type="text">
			                        </div>
			                    </div>
			                </div>
			                <div class="column">
			                    <div class="input_wrapper">
			                        <div class="input_box">
			                            <label for="company">Organizations *</label>
			                            <input id="company" name="company" class="input-xtralarge ui-autocomplete-input" type="text" autocomplete="off" placeholder="" role="textbox" aria-autocomplete="list" aria-haspopup="true"><div id="RFDisplayFrame" class="divDisplayFrame" style="visibility:hidden; border-width:medium; width:400px; height:auto; display:none; position:absolute; z-index:100; background-color:#ffffff"></div>
			                            <p>Enter comman seperated organization names</p>
			                        </div>
			                    </div>
			                </div>
			                <div class="column">
			                    <div class="input_wrapper">
			                        <div class="input_box">
			                            <label for="password">Password*</label>
			                            <input id="password" name="password" class="input-xtralarge js_password" type="password" autocomplete="off">
			                        </div>
			                    </div>
			                </div>
			
			                <div class="column">
			                    <div class="input_wrapper">
			                        <div class="input_box">
			                            <label for="confirmedPassword">Confirm password*</label>
			                            <input id="confirmedPassword" name="confirmedPassword" class="input-xtralarge js_confirm" type="password">
			                        </div>
			                    </div>
			                </div>
			
			                <div class="button_container">
			                    <button class="btn btn-primary" type="submit" class="btn btn-primary" id="btnSubmit">Create account</button>
			                    <div class="floatRight">
			                        <p class="line_height_12 padding_top_6">Already have an T-Mobile Apigee account?</p>
			                        <a class="btn btn-primary" id="linkToSignIn" href="#/login" title="sign in">Sign in.</a>
			                    </div>
			                </div>
			            </form>
			        </div>
			        <div class="clear"></div>
			    </div>
			</div>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>